
<%- include("header") -%> 

    <h2>about page</h2>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis nesciunt nisi iure, similique a laborum vel commodi pariatur consectetur soluta ad, odit, distinctio ab? Corrupti autem animi excepturi architecto soluta!</p>

<%- include("footer") -%> 
