<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container relative">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered Secrets!</h1>
      <hr>
      <br>
      <div class="row">
        <% usersWithSecrets.forEach(user=> {%>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <p class="secret-text">
                  <%= user.secret %>
                </p>
              </div>
            </div>
            <br>
          </div>
          <% }); %>
      </div>
      <div class="btn-group fixed-bottom" role="group">
        <a class="btn btn-light btn-lg " href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg fixed-bottom" href="/submit" role="button">Submit a Secret</a>
      </div>

    </div>
  </div>

  <%- include('partials/footer') %>